<!doctype html>
<html lang="en">

	<head>
        <meta charset="UTF-8">
        <title> Nickdomino </title>
        <link rel="stylesheet" href="/stylesheets/game.css" media="screen">
		<script src='/javascripts/chat.js' type='text/javascript'></script>
		<script src='/socket.io/socket.io.js' type='text/javascript'></script>
    </head>
    
    <body>
            <div class='chat'>
                    <input id='field' style='width:350px;' />
                    <input id='send' type='button' value='send' />
            </div>
    </body>

</html>